body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gradientbackground {
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding-top: 1%;
}

.country-card {
    width: 600px;
    background-color: #fcebd6;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.flag-container {
    background-color: #fbe4c7;
    padding: 20px;
}

.country-flag {
    width: 100%;
    height: auto;
}

.country-info {
    background-color: #8b83ba;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.country-info span {
    padding: 0 10px;
    position: relative;
}

.country-info span:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -30px;
    color: #ccc;
    font-weight: bold;
}
.neighbors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 600px;
}

.neighbor-flag {
    width: 100%;
    height: auto;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

